.container{
    max-width: 1200px;
    width: 100%;

}
.header{
    display: flex;
    justify-content: space-between;
    margin: 12px auto;
    font-size: 30px;
}
.desktop-nav{
display: flex;
justify-content: space-between;

}

.header .desktop-nav p{
    margin-left: 100px;
}